<h1 class="help-title">Help</h1>
<div class="help-container">
    <h2 class="section-title">General</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Projects</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Members</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Sponsors & Donations</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Calendar</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Email</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Photos</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Locations</h2>
    <p class="section-info"></p>
    <h2 class="section-title">Helpful Resources</h2>
    <p class="section-info"></p>
</div>