<h1> Choose a Mail Template </h1>

<div>
    <%= button_to 'Individual Email', individual_email_path, method: :get, class: 'btn btn-primary' %>
    <%= button_to 'Project Specific Email', project_specific_email_path, method: :get, class: 'btn btn-primary' %>
    <%= button_to 'All Active Members Email', active_member_email_path, method: :get, class: 'btn btn-primary' %>
    <%= button_to 'All Active/Inactive Members Email', active_inactive_member_email_path, method: :get, class: 'btn btn-primary' %>
</div>