<h1>User Details</h1>

<% @attributes.each do |attribute| %>
  <p>
    <strong><%= attribute.to_s.humanize %>:</strong>
    <%= @user.send(attribute) %>
  </p>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
