<% if photos.present? %>
  <ul class="bxslider">
    <% photos.each do |photo| %>
      <li>
        <img src="<%= photo.image_url %>" alt="<%= photo.photo_description %>" style="width:100%" />
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No photos available to display in the slideshow.</p>
<% end %>
