<% if photos.present? %>
  <div class="bxslider">
    <% photos.each do |photo| %>
      <li>
        <img src="<%= photo.photoLink %>" alt="<%= photo.photoDescription %>" style="width:100%">
      </li>
    <% end %>
  </div>
<% else %>
  <p>No photos available to display in the slideshow.</p>
<% end %>
