<div class="name">
    <h1>Engineers Without Borders</h1>
    <h2>Texas A&M University</h2>
</div>

<div class="globe">
    <img src="https://static.wixstatic.com/media/bd1570_a6bb306089d04aa4bec04e559d9274f0~mv2.png/v1/fill/w_1510,h_860,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/EWB%20Global%20Impact.png"
         alt="EWB Global Impact"
         style="max-width: 100%; height: auto;">
</div>

<%= render "shared/slideshow", photos: @photos %>

<div class="mission">
    <h2>Our Mission</h2>
    <p>
        EWB-TAMU delivers sustainable and innovative solutions to real-world problems in order to empower international communities by offering opportunities for the students of Texas A&M University to:
    </p>
    <ul>
        <li>Manage international engineering projects</li>
        <li>Develop relationships with members of other cultures</li>
        <li>Create engineering designs</li>
        <li>Lead the implementation of those designs</li>
        <li>Initiate the supporting functions of the projects: fundraising, manage finances and establish relationships with faculty and donors</li>
    </ul>
</div>

<div class="award-winning">
    <h2>Award Winning</h2>
    <div class="award-row">
        <img src="https://static.wixstatic.com/media/bd1570_3bc2ca559b2043c2a244534ab1138ab9~mv2.jpg/v1/fill/w_820,h_550,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/EWB%20student%20org%20award.jpg" alt="EWB student org award">
        <p>
            The Texas A&M Student Organization of the Year award is given to student organizations that embody the Aggie Spirit by furthering their purpose through contributions to the university and service to the community. EWB demonstrates innovation, makes an impact on the world, supports the development of its members, and strives to create leaders committed to serving the greater good.
        </p>
    </div>
    <p>
        The Texas A&M Chapter of Engineers Without Borders is the proud recipient of the Texas A&M Student Organization of the Year, EWB-USA Premier Student Chapter, and EWB-USA Exceptional Leadership awards. A big thank you to all our students, donors, mentors, advisors, and former students who made this possible!
    </p>
</div>
