<div class="name">
    <h1>Engineers Without Borders</h1>
    <h3>Texas A&M University</h3>
</div>

<div class="globe">
    <p>
        globe will go here
    </p>
</div>

<div class="photo-gallery">
    <%= render "shared/slideshow" %>
</div>

<div class="who-we-are">
    <h2>Who We Are</h2>
    <p>
        FILLER TEXT
    </p>
</div>
