<div class = "projects delete">
  <h2> Delete Project </h2>

  <%= form_for(@project, method: 'delete') do |f| %>
    <p> Are you sure you want to permanently delete this project? </p>
    <p> <%= @project.projectName %> </p>

    <div class="form-buttons">
      <%= f.submit("Yes, Delete this Project.") %>
    </div>

    <br>

    <div class="form-buttons">
      <%= link_to("Back to List", projects_path) %>
    </div>

  <% end %>
</div>
