<div class="sponsorship-back-btn">
    <%= link_to 'Back', sponsorships_path %>
</div>

<div class="sponsorship delete">
    <h2>Delete Sponsorship</h2>

    <%= form_for(@sponsorship, method: 'delete') do |f| %>

        <p>Are you sure you want to permanently delete this sponsorship?</p>

        <p class="reference-name"><%= f.object.sponsor_name %></p>

        <div class="form-buttons">
            <%= f.submit("Delete Sponsorship") %>
        </div>
    <% end %>
</div>
