<div class="sponsorship-back-btn">
    <%= link_to 'Back', sponsorships_path %>
</div>

<div class="sponsorships new">
    <h2>New Sponsorship</h2>

    <%= render 'form', sponsorship: @sponsorship %>
</div>
