<h1>You're logged in, <%= current_user.full_name =%>! You are an <%= current_user.user_type%>. Welcome to the Dashboard!</h1>
<%= link_to "View All Users", users_path %>
<%= link_to "Sign Out", destroy_user_session_path %>