/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bxslider
 */

 
/*
 *= require navbar
 */

:root {
    --primary-color: #77a0ef;
    --secondary-color: #eae7e7;
    --tertiary-color: #4c7cdc;
    --quaternary-color: #bebebe;
}

 /* Reset body margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.flash.notice {
    background-color: #d4edda; /* Green background for success */
    color: #155724; /* Dark green text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 25%;
    display: inline-block;
}

.flash.alert {
    background-color: #f8d7da; /* Red background for error */
    color: #721c24; /* Dark red text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 25%;
    display: inline-block;
}
  
