.event-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--primary-color);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}