.help-container {
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.section-title {
    color: var(--primary-color);
}

.help-container .section-info {
    display: none;
    /* Hide the section info by default */
    padding: 10px;
    margin-top: 5px;
}

.help-container .section-title {
    cursor: pointer;
    /* Indicate clickable title */
    margin: 10px 0;
    font-weight: bold;
}