.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7%;
}

.name h1 {
    margin-bottom: 0px;
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-we-are {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}