.projects-header{

}

.projects-body{

}

.projects-body h1{
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
}

.projects-body p{
  text-align: justify;
  font-size: 18px;
}
