.project-view-header {
  text-align: center;
  /* border-style: dashed; */
  border-radius: 4px;
}

.project-view-header h1{
  font-size: 36px;
}

.project-view-header p{
  font-size: 24px;
}

.project-view-gallery {
  /* border-style: dashed;
  border-radius: 4px; */
  align-items: center;
}

.project-view-body {
  /* border-style: dashed; */
  border-radius: 4px;
}

.project-view-body h1{
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

.project-view-body p{
  font-size: 18px;
  text-align: justify;
  text-
}

.project-actions {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
