<div id="<%= dom_id education %>">
  <p>
    <strong>Education Name:</strong>
    <%= education.educationName %>
  </p>

  <p>
    <strong>Education Type:</strong>
    <%= education.educationType %>
  </p>

  <p>
    <strong>Education Description:</strong>
    <%= education.educationDescription %>
  </p>

</div>
