<!-- Meet Our Officers Section -->
<section class="officers-section">
    <h2>Meet Our Officers</h2>
    <div class="officers-container">
        <div class="officer">
            <h4>John Rios</h4>
            <p>President</p>
        </div>
        <div class="officer">
            <h4>insert name</h4>
            <p>VP of Development</p>
        </div>
        <div class="officer">
            <h4>insert name</h4>
            <p>VP of Projects</p>
        </div>
    </div>

    <div class="additional-officers">
        <h2>Project Leads</h2>
        <div class="photos-container">

        </div>
    </div>

    <div "membership">
        <h2>Join EWB</h2>
        

        <h2>Join a Project</h2>
    </div>
</section>

